@{
    ViewData["Title"] = "Toutes les Fermetures";

    List<BoatModel> boats = ViewData["Boats"] as List<BoatModel>;
    List<BoatModel> oldBoats = new List<BoatModel>();
    for (int i = 0; i < boats.Count; i++)
    {
        if (boats[i].ClosingDate.CompareTo(DateTime.Now) < 0)
        {
            oldBoats.Add(boats[i]);
            boats.RemoveAt(i);
        }
    }
    // Sort
    boats.Sort((s1, s2) => DateTimeOffset.Compare(s1.ClosingDate, s2.ClosingDate));
    oldBoats.Sort((s1, s2) => DateTimeOffset.Compare(s1.ClosingDate, s2.ClosingDate));

    string GetTime(BoatModel boat)
    {
        TimeSpan timeSpan = boat.ReopeningDate.Subtract(boat.ClosingDate);
        return string.Format(
            "{0} ,{1} {2} et {3}",
            Pluriel(timeSpan.Days, "jour"),
            Pluriel(timeSpan.Hours, "heure"),
            Pluriel(timeSpan.Minutes, "minute"),
            Pluriel(timeSpan.Seconds, "seconde")
        );
    }

    string Pluriel(int amount, string mot)
    {
        return string.Format("{0} {1}{2}", amount, mot, amount > 1 ? "s" : "");
    }
}

<h4 class="">Prochaine fermeture</h4>
<div class="container-md  ">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date de fermeture</th>
                <th scope="col">Heure de fermeture</th>
                <th scope="col">Durée de fermeture</th>
                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < boats.Count; i++)
            {
                <tr>
                    <td>@boats[i].BoatName</td>
                    <td>@boats[i].ClosingDate.ToString("dddd, dd MMMM yyyy")</td>
                    <td>@boats[i].ClosingDate.ToString("HH:mm")</td>
                    <td>@GetTime(boats[i])</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

<h4 class="">Ancienne fermeture</h4>
<div class="container-md">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date de fermeture</th>
            <th scope="col">Heure de fermeture</th>
            <th scope="col">Durée de fermeture</th>
            
        </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < oldBoats.Count; i++)
            {
                <tr class="table-secondary">
                 <td>@oldBoats[i].BoatName</td>
                 <td>@oldBoats[i].ClosingDate.ToString("dddd, dd MMMM yyyy")</td>
                 <td>@oldBoats[i].ClosingDate.ToString("HH:mm")</td>
                 <td>@GetTime(oldBoats[i])</td>
                
             </tr>
            }
        </tbody>
    </table>
</div>

